h1 {
  text-align: center;
  margin-top: 10px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.highlight_controls {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    border: rgb(218, 219, 220, 1);
    border-width: thick;
}

.hightlight_sketch {
    outline: rgb(140, 141, 160, 1);
}

.movingBlocks {
  display: block;
  margin-left: auto;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
